# The Site Configuration
# Import the theme
theme: jekyll-theme-chirpy

# Change the following value to '/PROJECT_NAME' ONLY IF your site type is GitHub Pages Project sites
# and doesn't have a custom domain.
# Leaving just in case
baseurl: ''

# Change to your timezone › http://www.timezoneconverter.com/cgi-bin/findzone/findzone
timezone: Europe/London

# Site title
title: Spider's Stuff

# Subtitle
tagline: >-
  Not sure how much I'll use this but it's here now.
  He/him.

# Used by seo meta and the atom feed
description: >-                        
  Spider's stuff - not sure how much I'll use this but it's here now.

# fill in the protocol & hostname for your site, e.g., 'https://username.github.io'
url: 'https://spidervice.github.io'

github:
  username: spidervice              # change to your github username

twitter:
  username: SpiderVice              # change to your twitter username

social:
  name: Spider-Vice                 # Post author name
  email:                            # Email address (nah)
  links:
    # The first element serves as the copyright owner's link
    # TODO: Find a way of integrating some extra sites into the sidebar footer
    #- https://gtaforums.com/                          # GTAForums
    - https://twitter.com/SpiderVice                   # change to your twitter homepage
    - https://github.com/spidervice                    # change to your github homepage
    #- https://gitlab.com/spidervice                   # GitLab

# Google Site Verification stuff
google_site_verification: google_meta_tag_verification

google_analytics:
  id: ''                            # fill in your Google Analytics ID
  # Google Analytics pageviews report settings
  pv:
    proxy_endpoint:                 # fill in the Google Analytics superProxy endpoint of Google App Engine
    cache_path:                     # the local PV cache data, friendly to visitors from GFW region

# Prefer color scheme setting.
theme_mode: dark   # Force to dark || Options: [light|dark]

# The avatar on sidebar, supports local or CORS resources
avatar: assets/img/avatar.jpg

# bool, enables or disables Table of Contents beside posts with headings
toc: true

paginate: 10




# ------------ The following options are not recommended to be modified ------------------

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:   # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  -
    scope:
      path: ''          # An empty string here means all files in the project
      type: posts
    values:
      layout: post
      comments: true    # Enable comments in posts.
      toc: true         # Display TOC column in posts.
      # DO NOT modify the following parameter unless you are confident enough
      # to update the code of all other post links in this project.
      permalink: /posts/:title/
  -
    scope:
      path: _drafts
    values:
      comments: false
  -
    scope:
      path: ''
      type: tabs             # see `site.collections`
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - '*.gem'
  - '*.gemspec'
  - tools
  - docs
  - README.md
  - LICENSE
  - gulpfile.js
  - node_modules
  - package*.json

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
