---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* --------------------------------------------------------------------------------------------------------- */
/* append your custom style below */
/* --------------------------------------------------------------------------------------------------------- */

/* Note the hierarchy! */
#sidebar {                                            /* Global sidebar element */
  #avatar {                                           /* Avatar on sidebar (sidebar -> avatar) */
    > a:hover {                                       /* On hover... */
      border-color: rgba(222, 222, 222, 0.7);       /* Force border colour to be the same as non-hover */
    }
    img {                                             /* Avatar image element (sidebar -> avatar -> img) */
      &:hover {                                       /* On hover... */
        transform: none;                              /* Set transform to none to remove animation */
      }
    }
  }
}